## default ignore stuff ##
##########################

INSTALL.txt
LICENSE.txt
README.txt
demos/
extras/documentation

# KTS Ignore Stuff ##
#####################

var/*
app/etc/*
.htaccess
.htaccess.*
.metadata
.project
.settings
accTest
media
media/*
other
other/*
Db_Dump
downloader
downloader/*
##images
##images/*
prodUpper
prodUpper/*
solrSvrDev
solrSvrDev/*
api.php
cron.php
favicon.*
get.php
index.*
install.*
LICENSE.*
LICENSE_AFL.*
mag.*
mage.*
php.ini.*
php.*
RELEASE_NOTES.*
test.*
mage
cron.php
.buildpath

## USE THIS LOCAL AS NEEDED PLEASE ##
#####################################
0.9.0.bu
0.9.0.bu/
0.9.0.bu/*
##app/*
##app/code/*
##app/code/community
##app/code/community/*
##app/code/core
##app/code/core/*
##app/code/local/*
##app/design
####app/design/*
##app/design/adminhtml
##app/design/adminhtml/*
####app/design/frontend
####app/design/frontend/*
####app/design/frontend/base
####app/design/frontend/base/*
####app/design/frontend/default
####app/design/frontend/default/*
errors
errors/*
includes
includes/*
####js
####js/*
js/calendar
js/extjs
js/flash
js/jscolor
####js/KTS
js/lib
js/mage
####js/plugin
js/prototype
js/scriptaculous
js/tiny_mce
js/varien
js/*.html
js/*.php
js/*.gif
lib
lib/*
pkginfo
pkginfo/*
shell
shell/*
##skin
##skin/*
##skin/adminhtml
##skin/adminhtml/*
####skin/frontend
####skin/frontend/*
##skin/install
##skin/install/*

## Eric Stuff ##
################
csvFun

##############################################
## =============== The End ===============  ##
## == please add to this list as needed ==  ##
## ============== Thank You ==============  ##
##############################################
