<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Trutool_Helloworld>
			<version>0.1.0</version>
		</Trutool_Helloworld>
	</modules>
	  
    <frontend>
    	<routers>
    		<helloworld>
    			<use>standard</use>
    			<args>
    				<module>Trutool_Helloworld</module>
    				<frontName>helloworld</frontName>
    			</args>
    		</helloworld>
    	</routers>
    </frontend>
</config>