<?xml version="1.0"?>  
<config>  
	<modules>  
		<Ve_EasySlide>  
			<version>0.1.0</version>  
		</Ve_EasySlide>  
	</modules>  
	<frontend>
		<translate>
			<modules>
				<Ve_EasySlide>
					<files>
						<default>Ve_EasySlide.csv</default>
					</files>
				</Ve_EasySlide>
			</modules>
		</translate>
		<layout>
			<updates>
				<easyslide>
					<file>easyslide.xml</file>
				</easyslide>
			</updates>
		</layout>
	</frontend>	
	<global>  		     
		<blocks>  
			<ve_easyslide>  
				<class>Ve_EasySlide_Block</class>  
			</ve_easyslide>  
		</blocks> 		
		<models>  
			<ve_easyslide>  
				<class>Ve_EasySlide_Model</class>  
			</ve_easyslide>  
		</models>
		<helpers>  
			<ve_easyslide>  
				<class>Ve_EasySlide_Helper</class>  
			</ve_easyslide>  
		</helpers>	
	</global>  
	
	<adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ve_easyslide>
                                            <title></title>
                                        </ve_easyslide>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
			<modules>
				<Ve_EasySlide>
					<files>
						<default>Ve_EasySlide.csv</default>
					</files>
				</Ve_EasySlide>
			</modules>
		</translate>
    </adminhtml>	
	<default>
        <ve_easyslide>
            <ve_easyslide>
                <show>1</show>			
                <title></title>
				<folder>media/easyslide</folder>
                <height>253</height>                
                <width>730</width>
				<thumbnailMode></thumbnailMode>
				<autoplay>1</autoplay>
				<npbutton>1</npbutton>
				<controlnumber>1</controlnumber>
				<duration>0.5</duration>
				<interval>5.0</interval>
				<image1>bosch_slide.jpg</image1>
				<link1>http://brpopup.vsmart-extensions.com</link1>
				<image2>dewalt_slide.png</image2>
				<link2>http://brpopup.vsmart-extensions.com</link2>
				<image3>portercable_slide.png</image3>
				<link3>http://brpopup.vsmart-extensions.com</link3>
				<image4>makita_slide.png</image4>
				<link4>http://brpopup.vsmart-extensions.com</link4>
				<image5>milwaukee_slide.png</image5>
				<link5>http://brpopup.vsmart-extensions.com</link5>
				<image6>bosch_slide.jpg</image6>
				<link6>http://brpopup.vsmart-extensions.com</link6>
				<image7></image7>
				<link7></link7>
				<image8></image8>
				<link8></link8>
				<image9></image9>
				<link9></link9>
				<image10></image10>
				<link10></link10>
            </ve_easyslide>
        </ve_easyslide>
    </default>
</config>  